@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Sora&family=The+Nautigal:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abel');

* {
  font-family: 'Sora', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #EAE7DC;
}